body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #464570;
    flex: 8;
}
header{
    flex :2;
    display: flex;
    background-color: #1e2d36;
    color: #fdd4d4;
  
    text-align: center;
}

footer{
    flex:2;
    background-color: #202e36;
    color: #ecb8b8;
    text-align: center;
    

}
ul{
    display :flex;

}
